.ArtistCard {
  height: 100%;
  width: 100%;
}

.ArtistCard__body {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: calc(75% - var(--gutter-s));
  justify-content: space-between;
}

.ArtistCard__item {
  height: 48.75%;
  width: 48.25%;
}

.ArtistCard__item--more {
  align-items: center;
  background-color: var(--color-subtlegrey);
  border: 1px solid transparent;
  color: rgba(var(--color-primary-rgbval), 0.5);
  cursor: pointer;
  display: flex;
  font-size: 4rem;
  height: 80%;
  justify-content: center;
  width: 100%;
  transition: color 200ms ease-in-out,
              border-color 200ms ease-in-out;
}

.ArtistCard__item--more:hover,
.ArtistCard__item--more:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
