.resultscounter {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.resultscounter__info {
  display: inline-block;
}

.resultscounter__span {
  margin-right: var(--gutter-xs);
}

.resultscounter__title {
  display: inline;
  font-size: 2rem;
}

.resultscounter__sort {
  float: right;
}
