.Hero__main {
  height: 400px;
  width: 100%;
  margin-bottom: var(--gutter-l);
}

.Hero__small {
  display: inline-block;
  height: 300px;
}

.Hero__second {
  composes: Hero__small;
  margin-right: var(--gutter);
  width: calc(70% - var(--gutter));
}

.Hero__third {
  composes: Hero__small;
  margin-left: var(--gutter);
  width: calc(30% - var(--gutter));
}
