.SubscribeEmail__container {
  position: relative;
  margin: auto;
}

.SubscribeEmail__input {
  color: var(--color-white);
}

.SubscribeEmail__button {
  background: var(--color-white);
  border-radius: 0 15px 15px 0;
  box-sizing: border-box;
  height: 100%;
  line-height: 0;
  padding: 10px;
  position: absolute;
  right: 0;
}
