.CartButton {
  opacity: .5;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.CartButton:hover,
.CartButton:focus {
  opacity: 1;
}

.CartButton__icon {
  height: 25px;
  width: 25px;
  margin: 10px 0 10px 15px;
}
