@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300');

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

/**
 * Variables
 */

:root {
  --color-primary: royalblue;
  --color-primary-rgbval: 65, 105, 225;
  --color-darkgrey: grey;
  --color-grey: lightgrey;
  --color-subtlegrey: #f3f3f3;
  --color-white: #fcfcfc;
  --color-black: black;
  --color-alert: red;
  --color-success: greenyellow;

  --gradient-primary: linear-gradient(to bottom right, aqua 0%, royalblue 100%);
  --gradient-grey: linear-gradient(to bottom right, lightgrey 0%, darkgray 100%);

  --gutter-xs: 5px;
  --gutter-s: 10px;
  --gutter: 15px;
  --gutter-l: 30px;
  --gutter-xl: 40px;

  --font-size-s: 0.8rem;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, legend {
  font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

h4, legend {
  font-size: 0.9rem;
}

/**
 * Tables
 */

th, td {
  padding: 5px;
}

th:nth-child(2n),
td:nth-child(2n),
tbody tr:nth-child(odd) {
  background-color: var(--color-subtlegrey);
}

tbody tr:nth-child(odd) td:nth-child(2n) {
  background-color: var(--color-subtlegrey);
  filter: brightness(95%);
}

/**
 * Commons
 */

.gutter {
  margin-bottom: var(--gutter-xl);
}

.font-primary {
  font-family: 'Fira Sans', sans-serif;
}

.input {
  /*border-radius: 15px;*/
  border: 1px solid lightgrey;
  box-sizing: border-box;
  height: 100%;
  padding: 5px 0 5px 15px;
  width: 100%;
}

.constrain {
  max-width: 960px;
  margin: auto;
}

.link {
  color: rgba(var(--color-primary-rgbval), 0.6);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover {
  color: rgba(var(--color-primary-rgbval), 1);
  text-decoration: underline;
}

.button {
  color: rgba(var(--color-primary-rgbval), 0.6);
  background: var(--gradient-grey);
  border: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  padding: 1px;
  position: relative;
  transition: box-shadow 150ms ease-in-out,
              color 200ms ease-in-out,
              background 200ms ease-in-out;
}

.button--primary {
  background: var(--gradient-primary);
}

.button__helper {
  background: var(--color-white);
  display: block;
  outline-offset: -1px;
  outline: 1px solid transparent;
  padding: 5px 10px;
  position: relative;
  transition: outline 200ms ease-in-out,
              padding 200ms ease-in-out;
}

.button:hover,
.button:focus {
  color: rgba(var(--color-primary-rgbval), 1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover .button__helper,
.button:focus .button__helper{
  outline-offset: -2px;
  outline: 1px solid rgba(0, 0, 0, 0.10);
  text-decoration: underline;
}

.button:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.button--loading {
  animation: loading 2s linear infinite;
  background: linear-gradient(to right, aqua, royalblue, red, royalblue, aqua);
  background-size: 300% 100%;
  box-shadow: 0 0 0 transparent;
}

.button--loading .button__helper,
.button--success .button__helper,
.button--error .button__helper {
  padding-right: 20px;
}

.button--loading .button__helper::after {
  animation: rotateLoader 2s linear infinite;
  content: "↻";
  font-size: 0.7rem;
  line-height: 0;
  position: absolute;
  right: 6px;
  text-align: center;
  top: 50%;
}

.button--success {
  background: springgreen;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.button--success .button__helper::after {
  color: springgreen;
  content: "✔";
  font-size: 0.7rem;
  line-height: 0;
  position: absolute;
  right: 6px;
  top: 50%;
}

@keyframes loading {
  0%   { background-position: 0 100% }
  100% { background-position: 300% 100% }
}

@keyframes rotateLoader {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
