.galleryitem {
  height: 100%;
  width: 100%;
}

.galleryitem__head {
  height: 80%;
  margin-bottom: var(--gutter-xs);
  width: 100%;
}

.galleryitem__title {
  display: block;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.galleryitem__author {
  display: inline-block;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 60%;
}

.galleryitem__price {
  display: inline-block;
  font-size: 0.7rem;
  text-align: right;
  vertical-align: top;
  width: 40%;
}