.ProductDetails__title {
  margin-bottom: var(--gutter-s);
}

.ProductDetails__infos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.ProductDetails__info {
  margin-bottom: var(--gutter);
  margin-right: var(--gutter);
  min-width: 400px;
  width: 35%;
}

.ProductDetails__sizing {
  margin-bottom: var(--gutter);
  min-width: 400px;
  width: 55%;
}
