.OptionProduct__legend {
  margin-bottom: var(--gutter-s);
}

.OptionProduct__label {
  display: block;
  margin-bottom: var(--gutter-xs);
  width: 100%;
}

.OptionProduct__input {
  margin-right: var(--gutter-xs);
}
