.GalleryItem__author {
  display: inline-block;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 60%;
}

.GalleryItem__price {
  display: inline-block;
  font-size: 0.7rem;
  text-align: right;
  vertical-align: top;
  width: 40%;
}