.sidebar {
  float: left;
  margin-right: var(--gutter-l);
  vertical-align: top;
  width: 215px;
}

.sidebar__title {
  background-color: var(--color-subtlegrey);
  margin-bottom: var(--gutter);
  padding: 15px 20px;
}

.sidebar__container {
  margin-bottom: var(--gutter);
}
