.FooterMenu__container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: var(--gutter);
}

.FooterMenu__list {
  display: inline-block;
  text-align: left;
}

.FooterMenu__list-item {
  padding: 5px 0;
}

.FooterMenu__copyright {
  color: grey;
}
