.Footer {
  background: #303238;
  color: #fff;
  text-align: center;
  padding: 40px;
}

.Footer__container {
  max-width: 960px;
  margin: auto;
}

.Footer__subscriptions {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: auto;
}

.Footer__subscription {
  margin-bottom: var(--gutter-xl);
}
