.Searchbar {
  height: 45px;
  position: relative;
}

.Searchbar__button {
  border: 1px solid lightgrey;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  width: 20%;
  opacity: .5;
  transition: 250ms ease-in-out;
}

.Searchbar__button:hover,
.Searchbar__button:focus {
  opacity: 1;
}

.Searchbar__icon {
  width: 40px;
  height: 40px;
}
