.SelectColor__element {
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin-bottom: -3px;
    margin-right: 2px;
    outline-offset: -2px;
    outline: 1px solid var(--color-grey);
    position: relative;
    transition: border-color 250ms,
                outline-color 250ms;
    width: calc(20% - 2px);
}

.SelectColor__element--checked {
    border-color: var(--color-primary);
    outline-color: var(--color-primary);
}

.SelectColor__element--checked::before {
    content: '✔';
    font-size: 0.6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
