.Header__container {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.Header__topbar {
  align-items: center;
  background: #F2F2F6;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gutter);
}

.Header__searcharea {
  composes: Header__container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 75px;
}

.Header__leftcontainer {
  align-self: flex-start;
}

.Header__rightcontainer {
  width: 50%;
}

.searchbar__container {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.cartbutton__container {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}
