.container {
  margin: auto;
  max-width: 960px;
}

.list-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: var(--gutter);
}

.list {
  display: inline-block;
  text-align: left;
}

.list-item {
  padding: 5px 0;
}

.copyright {
  color: grey;
}
