.featuredartists__title {
  text-align: center;
}

.featuredartists__container {
	background:
		/* Shadow covers */
		linear-gradient(to left, white 100%, rgba(255,255,255,0)),
		linear-gradient(to right, rgba(255,255,255,0), white 100%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

  background-position: left center, right center, -5% 50%, 105% 50%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 20px 100%, 20px 100%, 6% 100%, 6% 100%;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;

  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
	
}

.featuredartists__card {
  display: inline-block;
  height: 520px;
  margin-right: var(--gutter);
  white-space: normal;
  width: 340px;
}

.featuredartists__card--you {
  align-items: center;
  background: var(--color-subtlegrey);
  display: inline-flex;
  justify-content: center;
  vertical-align: top;
}
