@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300');

:root {
  --gutter-s: 10px;
  --gutter: 15px;
  --gutter-l: 30px;
  --gutter-xl: 40px;
}

body, html, .font-primary {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.color-primary {
  color: red;
}

.background-primary {
  background: red;
}

.font-primary {
  font-family: 'Fira Sans', sans-serif;
}

.input {
  border-radius: 15px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  height: 100%;
  padding: 5px 0 5px 15px;
  width: 100%;
}

.constrain {
  max-width: 960px;
  margin: auto;
}

.link {
  color: blue;
  cursor: pointer;
  opacity: .5;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}
